# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
!/.vscode

# Folder to not ignore
!/mods
/mods/*
!/mods/bots

!/deploy.js
!/deploy.bat
!/z_deploy.bat
!/.astylerc

!/main
/main/*
!/main/server.cfg
!/z_server.bat

*.dat
*.log
players/
