# Ignore everything in repository root 
/*

# Files to not ignore
!/.gitignore
!/z_client.bat

# Folder to not ignore
!/mods
/mods/*
!/mods/bots

!/deploy.js
!/deploy.bat
!/z_deploy.bat
!/.astylerc

*.dat
*.log
players/
